<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddEmbarcacion</servlet-name>
        <servlet-class>com.mycompany.ut11problema1_alquilerbarcos.AddEmbarcacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalcularAlquiler</servlet-name>
        <servlet-class>com.mycompany.ut11problema1_alquilerbarcos.CalcularAlquiler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerListado</servlet-name>
        <servlet-class>com.mycompany.ut11problema1_alquilerbarcos.VerListado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEmbarcacion</servlet-name>
        <url-pattern>/AddEmbarcacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalcularAlquiler</servlet-name>
        <url-pattern>/CalcularAlquiler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerListado</servlet-name>
        <url-pattern>/VerListado</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
